scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/srp
        create path (nt:unstructured) /content/dam/srp/jcr:content
        set properties on /content/dam/srp/jcr:content
        set cq:conf{String} to /conf/srp
        set jcr:title{String} to \"SRP\"
        end

        create service user srpReadUser with path system/cq:services/srp
        set principal ACL for srpReadUser
        allow jcr:all on /
        end

        create service user srpWriteUser with path system/cq:services/srp
        set principal ACL for srpWriteUser
        allow jcr:versionManagement,jcr:read,jcr:modifyAccessControl,jcr:readAccessControl,rep:write,crx:replicate,jcr:lockManagement on /
        end

        "
]
 