<div class="my-estimates-comp">

   <div class="srp-comp-title margin-bottom20">${component.title}</div>
   <sly data-sly-use.myEstimates="com.srp.core.models.common.MyEstimatesDataModel" />

   <sly data-sly-use.srpLabelsTemp="../../template/srpLabels.html">
      <sly data-sly-call="${srpLabelsTemp.srpLabels @ srpLabelsObj=myEstimates}"></sly>
   </sly>

   <sly data-sly-use.srpTagsTemp="../../template/srpTags.html">
      <sly data-sly-call="${srpTagsTemp.tags @ tagsObj=myEstimates}"></sly>
   </sly>

</div>