html,
body {

    font-family: 'Encode Sans Expanded';
}

.srp-comp-title {
    font-size: 18px;
    background-color: #243782;
    color: white;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

.srp-comp-table-title {
    font-size: 18px;
    //background-color: #e94e24;
    color: #000000;
    border-radius: 5px 5px 0 0;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #000000;
    font-weight: 600;
}

.srp-table {
    width: 100%;
    border: 1px solid #ABABAB;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;

    .srp-td {
        font-size: 14px;
        border: 1px solid #ABABAB;
        color: #282634;
        border-collapse: collapse;
        padding: 10px;
    }

    .srp-th {
        font-size: 16px;
        border: 1px solid #ABABAB;
        color: #282634;
        border-collapse: collapse;
        padding: 10px;
    }

    .srp-th-name {
        background-color: #243782;
        color: white;
        padding: 10px;
        font-weight: 400;
        border-right: 1px solid white;
    }
}

.tags-container {
    display: flex;
    flex-wrap: wrap;

    .tags {
        background-color: lightgray;
        border-radius: 5px;
        padding: 5px;
        width: fit-content;
        margin: 5px;
        display: inline-flex;

        .material-icons {
            font-size: 20px;
            padding-right: 5px;
        }
    }
}

.wrap-column{
    max-width:200px;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

.margin-bottom5 {
    margin-bottom: 5px;
}

.margin-bottom20{
    margin-bottom: 20px;
}